* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    background-color: rgb(192, 192, 192);
}

#canvas {
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: calc(100vh - 40px);
    background-image: url('/stelka.jpg');
}
